/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Diphylleia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; /* 테두리 계산 편하게 하기 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
